{{> head }}
{{> navbar }}


<div class="row">

    <div class="col-8">
        <h1>Development WEB</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa veniam dignissimos quidem facilis rem.</p>
    </div>

    <div class="col-4">

        <img src="assets/img/desarrollo-web.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}